<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>My Trades</title>
    {%extends 'trades/template.html'%}
  </head>
  <body>
    {%block content%}
      <h1>Here is a trade!!!</h1>
      <h2>Item: {{trade.item}}</h2>
      <h2>Courtesy of: <a href="/profile/{{trade.originator.id}}">{{trade.originator.username}}</a></h2>
      <h2>Quantity: {{trade.quantity}}</h2>
      <h2>Description: {{trade.description}}</h2>
      {%if trade.recipient is null%}
        <a href="/trades/receive/{{trade.id}}">
          <button type="button" name="claim">Claim Trade</button></a>
      {%endif%}
      {%if page is 1 or page is 2%}
        {%if page is 2%}
        <a href="/trades/complete/{{trade.id}}">
          <button type="button" name="complete">Complete</button></a>
        {%endif%}
        {%if page is 1%}
        <a href="/trades/delete/{{trade.id}}">
          <button type="button" name="delete">Delete</button></a>
        {%endif%}
        <h3>Trade Coordination</h3>
        <p>Please use the discussion area below to coordinate logistics of your trade.</p>
        {%for comment in comments%}
          <p>{{comment.commentator.username}} said {{comment.comment}} -
          {{comment.created_at}}
          {%if user.id == comment.commentator.id%}
            <a href="/communication/delete/{{comment.id}}">Delete</a>
          {%endif%}</p>
        {%endfor%}
        <form action="/communication/create/{{trade.id}}" method='post'>
          {%csrf_token%}
          <textarea name="comment" cols="90" rows="10"></textarea>
          <p><input type="submit" name="submit" value="submit"></p>
        </form>
      {%endif%}
      <a href="/communication/create/{{trade.id}}">Create???</a>
    {%endblock%}
  </body>
</html>
