<!DOCTYPE html>
<html>
  <head>
      {%extends 'users/template.html'%}
    <meta charset="utf-8">
    <title>CrudCo Trader - {{username}}</title>
  </head>
  <body>
      {%block content%}
      <h1>User Name: {{user.username}}</h1>
      <h3>Joined: {{user.created_at}}</h3>
      <h3>Trades completed: {{trade_count}}</h3>
      <div class = "container">
          <div class = "row">
              <div class = "one-third columns">
                  <h3>Available Trades</h3>
                  {%for trade in available%}
                  <p><a href="/trades/show/{{trade.id}}">{{trade.item}}</a></p>
                  {%endfor%}
              </div>
              <div class = "one-third columns">
                    <h3>Pending Trades</h3>
                    {%for trade in pending%}
                    <p><a href="/trades/show/{{trade.id}}">{{trade.item}}</a></p>
                    {%endfor%}
                    {%for trade in mypending%}
                    <p><a href="/trades/show/{{trade.id}}">{{trade.item}}</a></p>
                    {%endfor%}
                </div>
                <div class = "one-third columns">
                    <h3>Completed Trades</h3>
                    {%for trade in completed%}
                    <p><a href="/trades/show/{{trade.id}}">{{trade.item}}</a></p>
                    {%endfor%}
                </div>
          </div>
      </div>
      {%endblock%}
  </body>
</html>
