<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>CrudCo Trader - {{username}}</title>
  </head>
  <body>
      User Name: {{username}}
      Joined: {{created_at}}
      Trades completed: {{trade_count}}
      <div class = "container">
          <div class = "row">
              <div class = "one-third columns">
                  <h3>Available Trades</h3>
              </div>
              <div class = "one-third columns">
                    <h3>Pending Trades</h3>
                </div>
                <div class = "one-third columns">
                    <h3>Completed Trades</h3>
                </div>
          </div>
      </div>

  </body>
</html>
