<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>CrudCo Trader</title>
    {% load static %}
  <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
  </head>
  <body>
    <nav>
      <h1>CrudCo Trader</h1>
      <a href="/">Home</a>
      <a href="/trades/new">New Trade</a>
      <a href="/trades/mine"> My Trades</a>
      <a href="/logout">Logout</a>
    </nav>
    {%block content%}
    {%endblock%}
  </body>
</html>
